{% extends 'base.html.twig' %}

{% block title %}Nouveau utilisateur{% endblock %}

{% block body %}
{% include 'navbar/navbar.html.twig'%}
<div class="container">
<h1>Créer un nouvel utilisateur</h1>

{{ form_start(form, {'attr': {'id': 'new_edit_utilisateur'}}) }}
{# utilisation de classes bootstrap pour la mise en forme #}
        <div class="row">
                <div class="col-12">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username,{ 'label': 'Nom du canal :','attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-12">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password,{ 'label': 'Nom du canal :','attr': {'class': 'form-control'}}) }}
                </div>
        </div>
        <br>
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>

{% endblock %}
